$black: #070606;
$lighter-black: #13110d;
$white: rgba(253, 253, 253, 1);
$orange: #ff6c19;
$grey: #b3b3b3;

@mixin linearGradient {
	background-color: rgba(59, 7, 107, 1);
	background-image: linear-gradient(
		139deg,
		rgba(59, 7, 107, 1) 0%,
		rgba(135, 66, 48, 1) 50%,
		rgb(195, 61, 90) 100%
	);
}
